<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>formulario sringboot</div>
        <form action="action" method="post" th:object="${contacto}">
            <div>
                 <label>Nombre</label>
                 <input id="nombre" type="text">
            </div>
            
            <div>Formulario Spring Boot</div>
                <form action="action" method="post" th:object="${contacto}">
            <div>
                <label for="nombre">Nombre:</label>
                <input id="nombre" type="text">
      
            </div>
    <button type="submit">Enviar</button>
</form>

         <button>Enviar</button> 
    </body>
</html>
